/* Footer.css */
.footer {
  background: linear-gradient(to right, #ffcc00, #ff9900); /* Yellow gradient */
  /* 100% viewport width */
  width: 100vw; /* 100% viewport width */
  padding: 20px; /* Add padding to adjust spacing */
  height: 100px;
  border-radius: 10px;
  margin-left: -70px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 42px; */
}

.icon-link {
  font-size: 24px;
  margin: 0 10px;
  color: #000; /* Default icon color */
  text-decoration: none;
  transition: transform 0.3s, color 0.3s;
}

.icon-link:hover {
  transform: rotate(360deg);
  color: #007bff; /* Change color on hover */
  cursor: pointer;
}
.fab {
  font-size: 32px;
}
